* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 820px;
  height: 620px;
  background-image: url("./bg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.item {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: midnightblue;
}

.a,
.b,
.c,
.d,
.e,
.f {
  padding: 5px 5px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.a {
  background-image: url("./images/1.jpg");
}
.b {
  background-image: url("./images/2.png");
}
.c {
  background-image: url("./images/3.png");
}
.d {
  background-image: url("./images/4.jpg");
}
.e {
  background-image: url("./images/5.jpg");
}
.f {
  background-image: url("./images/6.png");
}

.solved {
  opacity: 0;
}
